body {
  margin: 0px;
  border:none;
}

h1{
  text-align: center;
  font-family:cursive;
  display: flex;
  flex-direction: column;
  margin: auto;
}

@keyframes blink{
  0%, 100% {opacity: 1;}
  50% {opacity: 0;}
 }

#showing{
  color:blue;
  font-size: 40px;
  text-align: center;
  animation: blink 3s linear infinite;
}

.film-item{
  background-color: antiquewhite;
  margin: 15px;
  list-style: none;
}

.film-item img{
  height:30%;
  width: 20%;
}

#buyTicket{
  background-color: white;
  border-radius: 0.5rem;
  padding:10px 20px;
}